@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}





h1{
	color: rgb(60, 82, 100);
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
  background-color: rgb(247, 145, 125);width: 400px;

}


p{font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: rgb(37, 54, 70);

}

#fixed-sidebar {
  position: fixed;
  max-width: 20%;
  color: white;
}

}

.description{
    
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fafafa;
}

